@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 2550px;
}

/* Nav-bar */

header{
    position: fixed;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    background: #1B5289;
    width: 100%;
    height: fit-content;
}
.logo{
    display: flex;
    align-items: center;
}
#header-logo{
    width: 71px;
    height: 71px;
    margin-left: 65px;
}
header .logo p{
    font-size: 26px;
    font-weight: 600;
    width: 104px;
    height: 36px;
    margin-left: 15px;
}
#web{
    color: #28007B;
}
#dev{
    color: #109594;
}
header nav li{
    list-style: none;
    display: inline-block;
    padding: 20px 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}
header nav li:hover{
    background: white;
}
header nav{
    margin-right: 65px;
}
header nav a{
    text-decoration: none;
    color: #109594;
}

/* Nav-bar END */

/* Container */
.container{
    display: flex;
    padding-top: 70px;
    background-color: #1B5289;
}
.container .title-paragraph{
    width: 50%;
}
.container .title-paragraph h1{
    font-size: 50px;
    margin-left: 100px;
    color: white;
}
.container .title-paragraph p{
    margin-left: 100px;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    color: #4FE5B6;
}
.container .webdev-img{
    width: 50%;
    height: fit-content;
}
.container img{
    width: 630px;
    height: 390px;
}
.button-container{
    width: 200px;
    height: 55px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 300px;
    color: white;
    border: 2px solid #203384;
    border-radius: 5px;
    background-color: #203384;
    cursor: pointer;
}

/* Container END */

.title-second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 35px;
}
.content-second-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content{
    width: 50%;
    height: fit-content;
    margin-top: 50px;
}
.img-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-second-container p{
    width: 210px;
    margin-left: 230px;
    height: fit-content;
    text-align: center;
    
}
.content-second-container img{
    width: 80px;
    height: 80px;
    margin-right:  10px;
}

/* How it works END */

/* Offers Start */

.third-container{
    background-color: #1B5289;
}
.title-third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}
.content-third-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.content-third-container h3{
    font-size: 25px;
}
.first-content{
    width: 30%;
    height: fit-content;
    background-color: #28007B;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.second-content{
    width: 30%;
    height: fit-content;
    background-color: #28007B;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.third-content{
    width: 50%;
    height: fit-content;
    background-color: #28007B;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
}
.content-third-container .icons img{
    width: 80px;
    height: 80px;
}
.content-third-container .icons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* offers END */

/* Why us Start */
.title-fourth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-size: 35px;
    margin-bottom: 20px;
}
.content-fourth-container{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: 1.5em;
}

.img-parg{
    display: flex;
    margin: 15px 30px;
}
.img-parg img{
    margin-right: 30px;
}
.img-parg p{
    padding-top: 35px;
}

/* END */

/* Start */
.fifth-container{
    background-color: #1B5289;
}